<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Booking</title>
</head>
<body>
<label>Name: </label><span th:text="${booking.getRoom().getName()}"></span>
<label>Check In: </label><span th:text="${booking.checkIn}"></span>
<label>Check Out: </label><span th:text="${booking.checkOut}"></span>
<label>Occupancy: </label><span th:text="${booking.occupancy}"></span>
<label>Price: </label><span th:text="${booking.getRoom().getPrice()}"></span>
<form action="#" th:action="@{/bookings/confirmation}" th:object="${booking}" method="post">
    <input type="hidden" th:name="checkIn" th:value="${booking.checkIn}"/>
    <input type="hidden" th:name="checkOut" th:value="${booking.checkOut}"/>
    <input type="hidden" th:name="occupancy" th:value="${booking.occupancy}"/>
    <input type="hidden" th:name="roomId" th:value="${booking.getRoom().getId()}"/>
    <button type="submit">Confirm</button>
</form>
</body>
</html>